.color-upq-rojo{
    color: #942C2C;
}
.fondo-upq-rojo{
    background-color: #942C2C;
}
.color-upq-azul{
    color: #151830;
}
.fondo-upq-azul{
    background-color: #151830;
}

/* Efecto de escritura */
.efecto-escritura{
    white-space: nowrap;
    width: 12ch;
    animation: typing 2s steps(12),
                blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink{
    50% { border-color: transparent }
}
/* Fin de efecto de escritura*/